.header {
    background-color: #090c9c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    width: 100%;
}

.header .left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header img {
    display: block;
}

.header-hr {
    width: 100%;
    margin: 0;
    border: none;
    border-top: 2px solid #000;
}
