.header {
    background-color: #090c9c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header .left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header img {
    display: block;
}
